.\$ADF\$*
.\$NFS\$*
*\;*
*-*/*
*.jou
*.tex
*.dvi_*
*.int_*
*.tc[befi]
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
stamp-h?
ylwrap
*~
*.o
*.lo
.deps
.dirstamp
tecox
